body {
  background-color: #AAA;
}

div#header
{
    margin: 20px 30px 0px 30px;
    height: 100px;
    background-color: White;
}

div#main {
  width: 600px;
  margin: 30px auto auto 80px;
  background-color: White;
  padding: 15px 10px;
}

div#input
{
    background-color: #CCC;
    margin: 20 30;
    font-weight: bolder;
    padding: 5px;
    width: 400px;
}

form#form
{
    margin:20px 20px 0px 20px;
}

input#input_button
{
    text-align:center;
}

h2#result {
  border: dashed 4px #AAA;
  background-color: #FFF;
  padding: 10px 20px;
}

p.center{text-align:center;}
