body {
  background-color: White;
}

div#header
{
    margin: 20px 30px 0px 20px;
    height: 100px;
    background-color: White;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #CCC;
    padding: 10px 20px;
}

div#main {
  margin: 0px 30px auto 20px;
  background-color: White;
  padding: 1px 30px;
  border-style: solid;
  border-width: 0px 2px 2px 1px;
  border-color: #AAA;
}

.right{text-align:right;}

.button1{
	height:100%;
	weight:80px;
	font-weight:bold;
	background-color:#BDFFFD;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button2{
	height:100%;
	weight:80px;
	font-weight:bold;
	background-color:#FDFFBD;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.textBox1{
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#input
{
    background-color: White;
    margin: 0px 0px 20px 0px;
    font-weight: bolder;
    padding: 5px;
}

div#ListElement
{
	margin: 0px 30px auto 20px;
  background-color: White;
  padding: 1px 30px;
  border-style: solid;
  border-width: 0px 2px 2px 1px;
  border-color: #AAA;
}

form#form
{
    margin:5px 20px 0px 20px;
}

h2#result {
  border: dashed 4px #AAA;
  background-color: #FFF;
  padding: 10px 20px;
}

p.center{text-align:center;}
