body {
  background-color: White;
}

div#header
{
    margin: 20px 30px 0px 20px;
    height: 100px;
    background-color: White;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #CCC;
    padding: 10px 20px;
}

/*背景の1つ上の枠（ToDoリストの文字があるところ）の設定 */
div#main {
  margin: 0px 30px auto 20px;
  background-color: White;
  padding: 1px 30px 50px;
  border-style: solid;
  border-width: 0px 2px 2px 1px;
  border-color: #AAA;
}

.right{text-align:right;}

/*「ToDoの追加」ボタン */
.button1{
	height:100%;
	weight:80px;
	font-weight:bold;
	background-color:#BDFFFD;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*「未完了」ボタン */
.button2{
	height:100%;
	width:100px;
	font-weight:bold;
	background-color:#FFA4A4;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*「完了」ボタン */
.button3{
	height:100%;
	width:100px;
	font-weight:bold;
	background-color:#A4E0FF;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.textBox1{
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*入力フォームの枠の設定 */
div#input
{
    background-color: White;
    margin: 0px 0px 20px 0px;
    font-weight: bolder;
    padding: 5px;
	border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: #AAA;
}

/*リスト要素の枠の設定 */
div#ListElement
{
	margin: 0px auto 10px 0px;
	width: 530;
  background-color: White;
  padding: 10px 30px;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: #AAA;
}

.ToDoName{
	font-weight: bold;
}

/*「ToDoが作成されていません。」のエラー文 */
.error0{
	color: #FF5050;
	font-weight: bold;
}

/*入力フォームにおけるエラー文 */
.error{
	color: #FF5050;
}

.table{
		table-layout:fixed;
}

form#form
{
    margin:5px 20px 0px 20px;
}

h2#result {
  border: dashed 4px #AAA;
  background-color: #FFF;
  padding: 10px 20px;
}

p.center{text-align:center;}
